{% extends 'base.html' %}

{% block title %}
Add Guest House
{% endblock %}

{% block content %}
<div class="container" style="max-width: 40rem; opacity: 0.8; height: 100vh;">
    <div class="container">
        <div id="unique_login" class=" container login-form d-flex flex-column bd-highlight mb-3 mt-5"
            style="width: 100%; height:fit-content;">
            <form method="POST">
                <div class="text">
                    ADD Guest House
                </div>
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="fas fa-user"></div>
                    {{ form.guest_house_name(class="form-control", type="text", placeholder="Guest House Name" ) }}
                </div>
                <div class="field">
                    <div class="fas fa-sharp fa-light fa-face-smile-beam"></div>
                    {{ form.total_rooms(class="form-control", type="text", placeholder="Total rooms") }}
                </div>
                <div class="field">
                    <div class="fas fa-sharp fa-light fa-face-smile-beam"></div>
                    {{ form.available_rooms(class="form-control", type="text", placeholder="Available rooms") }}
                </div>
                <div class="field">
                    <div class="fas fa-sharp fa-light fa-face-smile-beam"></div>
                    {{ form.price(class="form-control", type="text", placeholder="Tariff") }}
                </div>
                <div class="field">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}