{% extends 'base2.html' %}

{% block title %}
View events
{% endblock %}

{% block content %}
<div style="height: 100vh;overflow-y: auto;">
    <div class="container" style="width:fit-content">
        <div class="card shadow my-5">
            <h4 class="card-header" style="color:black">My events</h4>
            <div class="card-body">
                <form class="mb-3">
                    <label for="searchBox" style="color:black">Search list</label>
                    <input type="text" id="searchBox" name="searchBox" class="form-control">
                    <small class="form-text feedback"></small>
                </form>
                <table class="table table-searchable table-striped table-bordered table-hover table-responsive ">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>date</th>
                            <th>time</th>
                            <th>First prize</th>
                            <th>Second prize</th>
                            <th>Third prize</th>
                            <th>Winner 1</th>
                            <th>Winner 2</th>
                            <th>Winner 3</th>
                            <th>Organizer</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        {% include 'includes/delete_event_modals.html' %}

                        <tr>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[0] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[1] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[2] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[4] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[5] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[6] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[7] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[8] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[9] }}</td>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ event[10] }}</td>
                            <td data-control="select">
                                <button class="btn btn-outline btn-success" data-toggle="modal"
                                    data-target="#Modal-DeleteEvent-{{ event[0].replace(' ','') }}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

{% endblock %}